<!--NGIF Module-->
<!--<div>-->
<!--  <a role="button"-->
<!--     class="btn btn-primary"-->
<!--    [href]="google"-->
<!--    *ngIf="shouldDisplay()">-->
<!--    Go to Google-->
<!--  </a>-->

<!--  <button type = "button" class="btn btn-success" [disabled] = "disableMyButton" (click)="toogleGoogleButton()">-->
<!--    I am disabled-->
<!--  </button>-->

<!--  <input type = "text" class="form-control" placeholder="Your Name Here" [(ngModel)]="name">-->
<!--</div>-->

<!--NGFOR Lecture-->

<!--<div class="container">-->
<!--  <ul class="list-group">-->
<!--    <li-->
<!--      class="list-group-item"-->
<!--      *ngFor="let fruit of fruits; let  i = index">{{ i + 1}} - {{ fruit }}</li>-->
<!--  </ul>-->
<!--</div>-->

<!--NGSwitch-->

<div class="container">
  <ul class="list-group">
    <app-person
      class="list-group-item"
      *ngFor="let person of people;" [ngSwitch]="person.country" [person]="person" (personClicked)="onPersonClicked()">

    </app-person>
  </ul>
</div>

